<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>
    <h1>News posts:</h1>
<% items.forEach( el => { %>
   <div class="container" data-id="<%=el._id%>">
<p><%= el.info%></p>
   </div>
<% }) %> 
    
</body>
</html>