* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }
body{
    opacity: 0.7;
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    gap: 10%;
}
li{
    margin-bottom: 10px;  
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}
.container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-around;
}

p{
    margin: 0%;
    margin-right: 10%;
}
h1{
    margin-bottom: 10%;
}


